<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      服务列表
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card [routerLink]="'/list/order'" class="welcome-card">
    <ion-img src="/assets/img/order.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>订单服务 Welcome to Ionic</ion-card-subtitle>
    </ion-card-header>
  </ion-card>




  <ion-card [routerLink]="'/list/order'" class="welcome-card">
    <ion-img src="/assets/img/payment.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>支付服务 Welcome to Ionic</ion-card-subtitle>
    </ion-card-header>
  </ion-card>



  <ion-card [routerLink]="'/list/order'" class="welcome-card">
    <ion-img src="/assets/img/system.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>系统服务 Welcome to Ionic</ion-card-subtitle>
    </ion-card-header>
  </ion-card>



  <ion-card [routerLink]="'/list/order'" class="welcome-card">
    <ion-img src="/assets/img/time.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>计划服务 Welcome to Ionic</ion-card-subtitle>
    </ion-card-header>
  </ion-card>


</ion-content>